{% extends "layout.html" %}

{% block title %}
    Emails
{% endblock %}

{% block main %}
    <div>
        {% for email in emails %}
        <div class="list-group-item">
            <h6>Sender: {{ email.sender }}</h6>
            <h2>{{ email.sunject }}</h2>
            <p>{{ email.timestamp }}</p>
            <form action="email" method="post">
                <input type="hidden" name="emailId" value="{{ email.id }}">
                <input type="submit" class="btn btn-info" value="View Email">
            </form>
        </div>

        {% endfor %}
    </div>
{% endblock %}

