{% extends "layout.html" %}

{% block title %}
    Junk
{% endblock %}

{% block main %}
    <form action="/junk" method="post">
        <div class="mb-3">
            <label>FROM: </label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="sender" value="{{ sender }}" type="text">
        </div>
        <label>TO: </label>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="recipient" name="recipient" placeholder="Recipient" type="text">
        </div>
        <label>Subject: </label>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="subject" name="subject" placeholder="Subject" type="text">
        </div>
        <div class="mb-3">
            <textarea name="body"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}
